<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li>Shop</li>
            <li>Add Product</li>
        </ul>
    </nav>
</header>